<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Message to Show!</title>
</head>
<body>
    <!-- Act as a prompt and show messages or errors to user! -->
    <h4><%= message %> </h4> <br>
    <form action="/" method="POST">
        <button>Back to home page!</button>
    </form>
</body>
</html>